<!DOCTYPE html>
<html>
    <head>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="http://underscorejs.org/underscore.js"></script>
        <script src="../build/build.js"></script>
        <script src="index.js"></script>
    </head>
    <body>
        <div id="main"></div>

        <script id="index-template" type="text/template">
            <h1>Index</h1>

            <p>
                <a href="#/entries">Entries</a>
            </p>
        </script>

        <script id="entries-template" type="text/template">
            <h1>Entries</h1>

            <ul>
                <% _.each(entries, function (entry) { %>
                    <li>
                        <a href="#/entries/<%= entry.id %>"><%= entry.title %></a>
                    </li>
                <% }) %>
            </ul>
        </script>

        <script id="entry-template" type="text/template">
            <h1><%= entry.title %></h1>
            <p><%= entry.body %></p>
        </script>
    </body>
</html>